/*
            [ANSA] CUSTOM STYLES
*/


/* CUSTOM COLORS */
.info p.purple{
    color:#9c27b0;
}
.purple{
    color:#9c27b0;
}


/* LISTAGEM DE PETS */


i {
    margin-right: 5px;
}

.pet-item {
    display: flex;
    flex-direction: row !important;
}

.pet-title {
    display: flex;
    align-items: center;
}

.pet-title .badge {
    margin: 0px 5px !important;
}

.pet-title h5 {
    white-space: nowrap;
}

.pet-pic {
    width: 260px;
    padding: 20px;
    align-items: center;
    display: flex;
}

.pet-pic img {
    max-width: 100%;
    max-height: 100%;
}

.pet-buttons {
    margin-bottom: 1rem;
    text-align: center;
}

.pet-title-divisor {
    margin-top: 0px;
}

@media only screen and (max-width: 768px) {
    .pet-item {
        flex-direction: column !important;
    }

    .pet-pic {
        width: 100%;
        padding: 20px;
        align-items: center;
        display: flex;
    }
}

/* ---------- PERFIL DO PET ----------- */

.pet-cover {
    height: 50vh !important;
    background-image:url('https://fbcover.com/covers-images/download/funny_cute_dog.jpg');
}

.pet-profile {
    margin-top: -100px;
    text-align: center;
}

.pet-profile-pic {
    background-color: #aaa;
    display: flex;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    justify-content: center;
}

.pet-profile-pic img {
    height: 100%;
}

.pet-description {
    margin: 2rem;
}