/*
            [ANSA] CUSTOM STYLES
*/


/* CUSTOM Styles */
.info p.purple{
    color:#9c27b0;
}
.purple{
    color:#9c27b0;
}

.mainPurple{
    background: #7336a9;
}
footer{
    background-color: #7336a9;
	color:white;
}

.navbar{
    color:#fff;
	background-color: #7336a9!important;
	box-shadow: 0 4px 18px 0 rgba(0, 0, 0, .12), 0 7px 10px -5px rgba(0, 0, 0, .15)
}

/* LISTA PETS */
.content {
    position: relative;
    margin: auto;
    overflow: hidden
}

.content .content-overlay {
    background: rgba(115, 54, 169, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}

.content:hover .content-overlay {
    opacity: 1
}

.content-image {
    width: 100%
}

img {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1
}

.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase
}

.content-details p {
    color: #fff;
    font-size: 1.2em
}

.fadeIn-bottom {
    top: 80%
}

.readonly-input {
    background-color: white !important;
}

/* LISTAGEM DE PETS PERFIL*/


i {
    margin-right: 5px;
}

.pet-item {
    display: flex;
    flex-direction: row !important;
}

.pet-title {
    display: flex;
    align-items: center;
}

.pet-title .badge {
    margin: 0px 5px !important;
}

.pet-title h5 {
    white-space: nowrap;
}

.pet-pic {
    width: 260px;
    height: 210px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.pet-pic img {
    max-width: 100%;
    max-height: 100%;
}

.pet-buttons {
    margin-bottom: 1rem;
    text-align: center;
}

.pet-title-divisor {
    margin-top: 0px;
}

@media only screen and (max-width: 768px) {
    .pet-item {
        flex-direction: column !important;
    }

    .pet-pic {
        width: 100%;
        padding: 20px;
        align-items: center;
        display: flex;
    }
}

.flex-justify-center {
    display: flex;
    justify-content: center;
}

/* ---------- PERFIL DO PET ----------- */

.botao-adotar {
    position: absolute; 
    right: 0px;
    margin-top: 15px;
    z-index: 100;
}

@media only screen and (max-width: 600px) {
    .botao-adotar {
        position: fixed;
        bottom: 15px;
    }
}

.pet-cover {
    height: 50vh !important;
    background-image:url('https://fbcover.com/covers-images/download/funny_cute_dog.jpg');
}

.pet-cover2{
  
    background-repeat: no-repeat;
    background-position: 0px -98px;
    background-image:url('https://images.ctfassets.net/440y9b545yd9/7cABSHg3Tcytg6tWDj0Pfa/51129a114bbf13d2fd5fcc1790d596a7/Adopt-mixed-breed-hero850.jpg');
}

.pet-profile {
    margin-top: -100px;
    text-align: center;
}

.pet-profile-pic {
    background-color: #aaa;
    display: flex;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    justify-content: center;
    border: 9px solid white;
}

.pet-profile-pic img {
    height: 100%;
}

.pet-description {
    margin: 2rem;
    color: #3c4858;
}

/* ---------- PERFIL DO USUÁRIO ----------- */

.perfil-pic {
    background-color: #aaa;
    display: flex;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    justify-content: center;
}

.perfil-pic img {
    height: 100%;
}

.perfil-cabecalho-item {
    display: flex; 
    align-items: center;
    padding: 1rem;
    color: #3c4858;
}

.shadow {
    -moz-box-shadow:    1px 0px 20px 8px #7336a9;
    -webkit-box-shadow: 1px 0px 20px 8px #7336a9;
    box-shadow:         1px 0px 20px 8px #7336a9;
}

/* ----- LISTA DE PETS ------- */

.pet-full-pic {
    height: 210px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.pet-full-pic img {
    box-shadow: 0 0 0 black;;
    border-radius: 0px;
    max-width: 100%;
    max-height: 100%;
}

.fa-mars{
    color:#42c5f5;
}
.fa-venus{
    color:#c242f5;
}

/* ======= Home ========= */

.home-pet-button {

    box-shadow: 0 0 black;
    width: 150px;
    transition: transform .2s;
    padding: 20px;
    cursor: pointer;
}

.home-pet-button:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.logo-nav {
    height: 80px;
    border-radius: 20px;
}